* {
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
}

h1 {
  font-family: fantasy;
}

body {
  background-color: pink;
  text-align: center;
}

#isiPilihan {
  background-color: powderblue;
  width: 50%;
  padding: 5%;
  margin: 2% 25%;
}

input[type="number"],
select{
  width: 25%;
  padding: 12px;
  border: 1px solid rgb(200, 255, 252);
  border-radius: 5px;
  margin: 2%;

  
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: bisque;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: center;
}
